:root {
    --primary-color: #D95436;
    --secondary-color: #2C3E50;
    --tertiary-color: #FFF;
    --quaternary-color: #000;
}


.login-page {
    background: linear-gradient(
        to top,
        var(--primary-color),
        var(--primary-color) 10rem,
        transparent 1rem,
        transparent 100%
    );
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    position: relative;
}

.login-page .logo{
    position: absolute;
    top: 0;
    left: 0;
}

.login-page .container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    position: relative;
    margin-bottom: 50px;
}

.dog-login {
    position: absolute;
    bottom: 10rem; /* Align the bottom of the dog with the top of the red bar */
    right: 47.5%; /* Align the right side of the dog with the left side of the form */
    transform: translateX(calc(-100% - 15px)); /* Offset to align right side of the dog to left side of form */
    height: 220px;
}

.login-page .login-box {
    background: linear-gradient(
        to bottom,
        var(--primary-color),
        var(--primary-color) 4rem,
        transparent 1rem,
        transparent 100%
    );
    background-color: var(--tertiary-color);
    border: 3px solid var(--quaternary-color);
    border-radius: 15px;
    padding: 20px;
    width: 300px;
    position: relative;
    text-align: center;
}

.login-page .login-box h2 {
    color: var(--tertiary-color);
    margin-bottom: 20px;
}

.login-page form {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-page form label {
    margin-bottom: 10px;
    font-weight: bold;
}

.login-page form input {
    border: 1px solid var(--secondary-color);
    color: black; 
    background-color: white;
    border-radius: 4px;
    padding: 10px;
    margin-bottom: 10px;
    width: 100%;
    font-size: 14px;
}

.login-page .login-button {
    background-color: var(--primary-color);
    color: var(--tertiary-color);
    border: none;
    border-radius: 4px;
    padding: 10px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
    margin-bottom: 20px;
}

.login-page form p {
    margin: 0;
}

.login-page form p a {
    color: var(--primary-color);
    text-decoration: none;
}

.login-page form p a:hover {
    text-decoration: underline;
}

.login-page .balloon {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: -40px;
}

.login-page .balloon img {
    width: 50px;
    height: auto;
    margin: 0 5px;
}
