
* {
    margin: 0;
    padding: 0;
}

.Heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 3em;
    margin-left: 1em;
    padding: 1em;
}

.BankName {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0px;
    margin-right: 2em;
}

.BankName2 {
    font-size: 0.43em;
    font-weight: 700;
    color: #e21212;
    margin-bottom: 20px;
}

.Header_Buttons{
    display: flex;
    align-items: center;
    color: white; 
    gap: 20px;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-right: 1em;
    height: 5em;
    margin-left: auto;

}
.Logout, .Profile {
    background-color: #d95436;
    color: white;
    border: none;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    width: 130px;
    height: 3.5em;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}  

.Profile.clicked {
    opacity: 0.8;
    cursor: not-allowed;
}

.Notification_Button.clicked .Notification_Icon {
    opacity: 0.8;
    cursor: not-allowed;
}

.Logout {
    background-color: #df9010
}

.Profile_Icon, .Logout_Icon {
    height: 1.4em;
    width: auto;
    margin-right: 0.5em;
}

.Profile_Icon {
    height: 1.3em;
}

.Logout_Icon {
    height: 1.5em;
}

.Notification_Button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.Notification_Icon {
    height: 2.8em;
}

.nav {
    background-color:#d95436;
    display: flex; 
    gap: 0vw;
    padding: 1em;
}

a{
    color: white;
    font-weight: bold;
    text-decoration:none ;
    margin : auto;
}

sup {
    font-size: 0.75em;
    vertical-align: super;
    margin-left: 0.3em;
}

a {
    color: white;
    font-weight: bold;
    text-decoration: none;
    margin: auto;
    position: relative;
}

a.active::after {
    content: '';
    display: block;
    width: 200px;
    height: 6.5px;
    background-color: white;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 5px;
}