
* {
    margin: 0;
    padding: 0;
}

.Heading {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.logo {
    height: 3em;
    margin-left: 1em;
    padding: 1em;
}

.BankName {
    font-size: 1.5em;
    font-weight: 700;
    margin-bottom: 0px;
    margin-right: 2em;
}

.BankName2 {
    font-size: 0.43em;
    font-weight: 700;
    color: #e21212;
    margin-bottom: 20px;
}

.Header_Buttons{
    display: flex;
    align-items: center;
    color: white; 
    gap: 16px;
    border-radius: 5px;
    padding: 0.5em 1em;
    margin-right: 1em;
    height: 5em;
    margin-left: auto;

}
.Logout, .Profile {
    background-color: #d95436;
    color: white;
    border: none;
    font-size: 1em;
    font-weight: 700;
    cursor: pointer;
    width: 120px;
    height: 3em;
    border-radius: 18px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-left: 10px;
}  

.Logout {
    background-color: #df9010
}

.Profile_Icon, .Logout_Icon {
    height: 1.4em;
    width: auto;
    margin-right: 0.5em;
}

.Profile_Icon {
    height: 1.3em;
    width: auto;
}

.Notification_Button {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}

.Notification_Icon {
    height: 2.8em;
}

.nav {
    background-color:#d95436;
    display: flex; 
    gap: 5vw;
    padding: 1em;
  
}

a{
    color: white;
    font-weight: bold;
    text-decoration:none ;
    margin : auto;
    
}

sup {
    font-size: 0.75em;
    vertical-align: super;
    margin-left: 0.3em;
}